#header {
  padding: 10px;
  background-color: black;
}
#title {
  display: inline-block;
}
#globeIcon {
  display: inline-block;
  width: 80px;
  height: 85px;
}
.map {
  border: none;
  width: 100%;
  height: 700px;
}
