body {
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   
   background-color:#CCCCCC;
   span.switcher {
      position: relative;
      
      width:200px;
      height:50px;
      border-radius:25px;
      margin:20px 0;
      input {
         appearance: none;
         
         position: relative;

         width:200px;
         height:50px;
         border-radius:25px;

         background-color:#1E1E1E;
         outline:none;

         font-family: 'Oswald', sans-serif;
         &:before, &:after {
            z-index:2;

            position: absolute;
            top:50%;
            transform:translateY(-50%);

            color:#FFFFFF;
         }
         &:before {
            content: '2021 Map';
            left:20px;
         }
         &:after {
            content: 'Report';
            right:40px;
         }
      }
      label {
         z-index:1;
         position: absolute;
         top:10px;
         bottom:10px;
         
         border-radius:20px;
      }
      &.switcher-1 {
         input {
            transition:.25s -.1s;
            &:checked {
               background-color:#FFFFFF;
               &:before {
                  color:#FFFFFF;
                  transition: color .5s .2s;
               }
               &:after {
                  color:#CCCCCC;
                  transition: color .5s;
               }
               &+label {
                  left:10px;
                  right:100px;

                  background:#1E1E1E;
                  
                  transition: left .5s, right .4s .2s;
               }
            }
            &:not(:checked) {
               background:#1E1E1E;
               transition: background .5s -.1s;
               &:before {
                  color:#CCCCCC;
                  transition: color .5s;
               }
               &:after {
                  color:#1E1E1E;
                  transition: color .5s .2s;
               }
               &+label {
                  left:100px;
                  right:10px;
                  
                  background:#FFFFFF;
                  
                  transition: left .4s .2s, right .5s, background .35s -.1s;
               }
            }
         }
      }
   }
}
#header {
  padding: 15px; 
  width: 100%; 
}
#title {
  display: inline-block;
  margin-left: 15px;
  font-family: "Verdana", "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}
#globeIcon {
  display: inline-block;
  margin-top: -8px;
  width: 70px;
  height: 70px;
  margin-left: 60px;
}
@media only screen and (max-width: 600px) {
  #title {
    font-size: 22px;
    margin-left: 10px;
  }
  #globeIcon {
    margin-left: 30px;
    width: 60px;
    height: 60px;
  }
}
.map {
  width: 100%;
  height: 65vh;
}
