.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}
.switcher {
	 position: absolute;
	 width: 320px;
	 height: 62px;
	 display: flex;
	 border-radius: 25px;
}
.switcher input {
	 -webkit-appearance: none;
     -moz-appearance:    none;
	 appearance: none;
	 border-bottom: 1px solid grey;
	 border-right: 1px solid grey;
	 position: relative;
	 width: 320px;
	 border-bottom-right-radius: 20px 20px;
	 height: 79px;
	 top: -3px;
	 background-color: #1e1e1e;
	 outline: none;
	 font-weight: bold;
	 font-family: 'Oswald', sans-serif;
}
.switcher input:before, .switcher input:after {
	 z-index: 2;
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%);
	 color: #fff;
}
.switcher input:before {
	 content: 'Cleanups';
	 left: 60px;
	 text-decoration: underline;
}
.switcher input:after {
	 content: 'Trash Report';
	 right: 60px;
	 text-decoration: underline;
}
.switcher label {
	 z-index: 1;
	 position: absolute;
	 top: 20px;
	 bottom: -5px;
	 border-radius: 20px;
}
.switcher.switcher-1 input {
	 transition: 0.25s -0.1s;
}
.switcher.switcher-1 input:checked {
	 background-color: #fff;
}
.switcher.switcher-1 input:checked:before {
	 color: #baf6ff;
	 transition: color 0.5s 0.2s;
	 text-decoration: none;
}
.switcher.switcher-1 input:checked:after {
	 color: #828282;
	 transition: color 0.5s;
}
.switcher.switcher-1 input:checked + label {
	 left: 40px;
	 right: 175px;
	 background: #1e1e1e;
	 transition: left 0.5s, right 0.4s 0.2s;
}
.switcher.switcher-1 input:not(:checked) {
	 background: #1e1e1e;
	 transition: background 0.5s -0.1s;
}
.switcher.switcher-1 input:not(:checked):before {
	 color: #ccc;
	 transition: color 0.5s;
}
.switcher.switcher-1 input:not(:checked):after {
	 color: #6b1515;
	 transition: color 0.5s 0.2s;
	 text-decoration: none;
}
.switcher.switcher-1 input:not(:checked) + label {
	 left: 150px;
	 right: 40px;
	 background: #fff;
	 transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
#header {
  padding: 15px; 
  width: 100%; 
}
#title {
  display: inline-block;
  margin-left: 15px;
  font-family: "Verdana", "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}
#globeIcon {
  display: inline-block;
  margin-top: -8px;
  width: 70px;
  height: 70px;
  margin-left: 60px;
}
@media only screen and (max-width: 600px) {
  #title {
    font-size: 22px;
    margin-left: 10px;
  }
  #globeIcon {
    margin-left: 30px;
    width: 60px;
    height: 60px;
  }
}
#mapOverlay {
  display: flex;
}
.map {
  width: 100%;
  height: 65vh;
  border: 1px solid grey;
  border-bottom: none;
}
.headingTwo {
  background-color: black;
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -1px;
  border-top: 1px solid grey;
}
.headingTitle {
  font-family: "Verdana", "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  margin-top: 16px;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#report-limit {
  color: red;	
}
