<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Watershed Brigade</title>
  </head>
  <body>
    <div id="header">
      <img src="/static/images/globe.png" alt="globe" id="globeIcon">
      <h2 id="title">Watershed Cleanup</h2>
    </div>
    <div id="mapOverlay">
      <iframe id="map_cleanups" src="https://www.geosheets.com/map/s:KJV92kAM/cleanups/embed" class="map"></iframe>
      <iframe id="map_reports" src="https://www.geosheets.com/map/s:KJV92kAM/reports/embed" class="map"></iframe>
      <span class="switcher switcher-1 noSelect">
        <input type="checkbox" id="switcher-1" class="noSelect" checked>
        <label for="switcher-1" class="noSelect"></label>
      </span>
    </div>
    <div id="cleanups">
      <div class="headingTwo">
        <h3 class="headingTitle">Month Filter</h3>
      </div>
      <div class="content">
        {{ checkboxes }}
    <!-- <label class="checkbox-inline"><input type="checkbox" value="Jan" class="Month" id="Jan" checked>January</label>
    <label class="checkbox-inline"><input type="checkbox" value="Feb" class="Month" id="Feb" checked>February</label>
    <label class="checkbox-inline"><input type="checkbox" value="Mar" class="Month" id="Mar" checked>March</label>
    <label class="checkbox-inline"><input type="checkbox" value="Apr" class="Month" id="Apr" checked>April</label>
    <label class="checkbox-inline"><input type="checkbox" value="May" class="Month" id="May" checked>May</label>
    <label class="checkbox-inline"><input type="checkbox" value="Jun" class="Month" id="Jun" checked>June</label>
    <label class="checkbox-inline"><input type="checkbox" value="Jul" class="Month" id="Jul" checked>July</label>
    <label class="checkbox-inline"><input type="checkbox" value="Aug" class="Month" id="Aug" checked>August</label>
    <label class="checkbox-inline"><input type="checkbox" value="Sep" class="Month" id="Sep" checked>September</label>
    <label class="checkbox-inline"><input type="checkbox" value="Oct" class="Month" id="Oct" checked>October</label>
    <label class="checkbox-inline"><input type="checkbox" value="Nov" class="Month" id="Nov" checked>November</label>
    <label class="checkbox-inline"><input type="checkbox" value="Dec" class="Month" id="Dec" checked>December</label>
    -->
      </div>
    </div>
    <div id="reports">
      <div class="headingTwo">
        <h3 class="headingTitle">Report Trash</h3>
      </div>
      <div class="content">
        <form action="/report" class="form-inline" method="POST">
          <div class="form-group">
            <label for="coords">Coordinates (i.e. 34.415209,-119.6776689):</label>
            <input type="text" class="form-control" id="coords" maxlength="40" name="coords" required>
          </div>
          <div class="form-group">
            <label for="trash">Amount of Trash/Size of Litter:</label>
            <select class="form-control" id="trash" name="trash">
              <option>Some trash/Small litter</option>
              <option>Moderate trash/Small litter</option>
              <option>Abundant trash/Small litter</option>
              <option>Some trash/Large litter</option>
              <option>Moderate trash/Large litter</option>
              <option>Abundant trash/Large litter</option>
            </select>
          </div>
          <div class="form-group">
            <label for="comment">Description:</label>
            <input type="text" class="form-control" id="comment" maxlength="1000" name="comment" required>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <p id="report-limit">{{ report_limit }} reports were submitted today, 10 is the limit.</p>
      </div>
    </div>
  </body>
</html>
