<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Watershed Brigade</title>
  </head>
  <body>
    <div id="header">
      <img src="/static/images/globe.png" alt="globe" id="globeIcon">
      <h2 id="title">Watershed Cleanup</h2>
    </div>
    <span class="switcher switcher-1 noSelect">
      <input type="checkbox" id="switcher-1" class="noSelect">
      <label for="switcher-1" class="noSelect"></label>
    </span>
    <div id="mapOverlay">
      <iframe src="https://www.geosheets.com/map/s:KJV92kAM/cleanups/embed" class="map"></iframe>
    </div>
    <form id="monthSelection">
      <label class="checkbox-inline"><input type="checkbox" value="Jan" checked>January</label>
      <label class="checkbox-inline"><input type="checkbox" value="Feb" checked>February</label>
      <label class="checkbox-inline"><input type="checkbox" value="Mar" checked>March</label>
      <label class="checkbox-inline"><input type="checkbox" value="Apr" checked>April</label>
      <label class="checkbox-inline"><input type="checkbox" value="May" checked>May</label>
      <label class="checkbox-inline"><input type="checkbox" value="Jun" checked>June</label>
      <label class="checkbox-inline"><input type="checkbox" value="Jul" checked>July</label>
      <label class="checkbox-inline"><input type="checkbox" value="Aug" checked>August</label>
      <label class="checkbox-inline"><input type="checkbox" value="Sep" checked>September</label>
      <label class="checkbox-inline"><input type="checkbox" value="Oct" checked>October</label>
      <label class="checkbox-inline"><input type="checkbox" value="Nov" checked>November</label>
      <label class="checkbox-inline"><input type="checkbox" value="Dec" checked>December</label>
    </form>
  </body>
</html>
