{% extends "layout.html" %}

{% block title %}
Maps
{% endblock %}

{% block content %}
<div id="mapOverlay">
  <iframe id="map_cleanups" src="https://www.geosheets.com/map/s:KJV92kAM/cleanups/embed" class="map"></iframe>
  <iframe id="map_reports" src="https://www.geosheets.com/map/s:KJV92kAM/reports/embed" class="map"></iframe>
  <span class="switcher switcher-1 noSelect">
    <input type="checkbox" id="switcher-1" class="noSelect" checked>
    <label for="switcher-1" class="noSelect"></label>
  </span>
  <div id="legend">
    <div id="red-square"></div>
    <p id="red-text">&nbsp;&nbsp;Unresolved</p>
    <br>
    <div id="blue-square"></div>
    <p id="blue-text">&nbsp;&nbsp;Resolved</p>
  </div>
</div>
<div id="cleanups">
  <div class="headingTwo">
    <h3 class="headingTitle">Month Filter</h3>
  </div>
 <div class="content">
    {{ checkboxes }}
  </div>
</div> 
<div id="reports">
  <div class="headingTwo">
    <h3 class="headingTitle">Report Trash</h3>
  </div>
  <div class="content">
    <form action="/report" class="form-inline" method="POST">
      <div class="form-group">
        <label for="coords">Coordinates (i.e. 34.415209,-119.6776689):</label>
        <input type="text" class="form-control" id="coords" maxlength="40" name="coords" required>
      </div>
      <div class="form-group">
        <label for="trash">Amount of Trash/Size of Litter:</label>
        <select class="form-control" id="trash" name="trash">
          <option>Some trash/Small litter</option>
          <option>Moderate trash/Small litter</option>
          <option>Abundant trash/Small litter</option>
          <option>Some trash/Large litter</option>
          <option>Moderate trash/Large litter</option>
          <option>Abundant trash/Large litter</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comment">Description:</label>
        <input type="text" class="form-control" id="comment" maxlength="1000" name="comment" required>
      </div>
      <button type="submit" class="btn btn-default" {{ submit }}>Submit</button>
    </form>
    {{ report_limit }}
  </div>
</div>
{% endblock %}
