{% extends "layout.html" %}

{% set page = "maps" %}

{% block title %}
Maps
{% endblock %}

{% block script %}
{{ returner }}
<!--<script>
  $(document).ready(function() { 
  $('#myModal').modal('show');
});
  </script>-->
{% endblock %}
{% block content %}
<div id="map-overlay">
  <iframe id="map-cleanups" src="https://www.geosheets.com/map/s:DJj8Kv6R/cleanups/embed" class="map"></iframe>
  <iframe id="map-reports" src="https://www.geosheets.com/map/s:DJj8Kv6R/reports/embed" class="map"></iframe>
  <span class="switcher switcher-1 no-select map-content">
    <input type="checkbox" id="switcher-1" class="no-select" checked>
    <label for="switcher-1" class="no-select"></label>
  </span>
  <div id="legend">
    <div id="red-square"></div>
    <p id="red-text">&nbsp;&nbsp;Unresolved</p>
    <br>
    <div id="blue-square"></div>
    <p id="blue-text">&nbsp;&nbsp;Resolved</p>
  </div>
  <span id="legend-main">
    <div class="inline-block">&nbsp;&nbsp;Old&nbsp;</div>
    <div id="legend-gradient"></div>
    <div class="inline-block">&nbsp;Recent</div>
  </span>
</div>
<div id="cleanups">
  <div class="heading-two">
    <h3 class="heading-title">Month Filter</h3>
  </div>
 <div class="content">
    {{ checkboxes }}
  </div>
</div> 
<div id="reports">
  <div class="heading-two">
    <h3 class="heading-title" id="replaceable">Report Trash</h3>
  </div>
  <div class="content">
    <form action="/report" class="form-inline" id="report" method="POST">
      <div class="form-group">
        {{ location_question }}
      </div>
      <div class="form-group">
        <label for="trash">Amount of Trash:</label>
        <select class="form-control" id="trash" name="trash">
          <option>A small amount of trash</option>
          <option>A moderate amount of trash</option>
          <option>A large amount of trash</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comment">Description:</label>
        <input type="text" class="form-control" id="comment" maxlength="1000" name="comment" required>
      </div>
      <button type="submit" class="btn btn-default" {{ submit }}>Submit</button>
      <input type="hidden" name="embed" value="false">
    </form>
    {{ report_limit }}
    
<!--     <form action="/resolve" class="form-inline" id="resolve" method="POST">
      <div class="form-group">
        <label for="resolve-name">Name:</label>
        <input type="text" class="form-control" id="resolve-name" maxlength="120" name="resolve-name" required>
      </div>
      <div class="form-group">
        <label for="trash">Which location did you clean up?:</label>
        <select class="form-control" id="resolve-location" name="resolve-location">
          {{ resolve_locations }}
        </select>
      </div>
      <div class="form-group">
        <label for="resolve-date">Date:</label>
        <input type="date" id="resolve-date" name="resolve-date" required>
      </div>
      <div class="form-group">
        <label for="resolve-notes">Notes:</label>
        <input type="text" class="form-control" id="resolve-notes" maxlength="1000" name="resolve-notes" required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <input type="hidden" name="embed" value="false">
    </form> -->
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSehM8lVXrqqBI8kfVq8XYNuhe1EQypdo26jKx0edlEH6YmF2Q/viewform" target="_blank" class="btn btn-warning" id="report-switch-embed">Resolve a Location</a>
<!--     <button type="button" class="btn btn-warning" id="resolve-switch">Report Trash</button> -->
  </div>
</div>
<footer>
  <p id="credit">Data is sourced from Santa Barbara Channelkeeper's Watershed Brigade. Join the effort to see your own data being added!</p>
</footer>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" action="/modal_hide">&times;</button>
          <h4 class="modal-title">Website Information</h4>
        </div>
        <div class="modal-body">
          <p>&nbsp;&nbsp;&nbsp;<b>Welcome!</b> This is a webapp designed for the Santa Barbara Channelkeepers, a non-profit organization. The Cleanups map shows locations that have been cleaned up by volunteers in the current year. The Report Trash map allows you to report areas of refuse and litter directly to the Watershed Brigade. The leaderboard on the Scoreboard tab shows the points each volunteer has for the current month. Everything on this webapp is automatically updated to the newest information available in the database and requires no maintanence. <i>This is a temporary message.</i></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" action="/modal_hide">Close</button>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
