{% extends "layout.html" %}

{% set page = "maps" %}

{% block title %}
Maps
{% endblock %}

{% block content %}
<div id="map-overlay">
  <iframe id="map-cleanups" src="https://www.geosheets.com/map/s:DJj8Kv6R/cleanups/embed" class="map"></iframe>
  <iframe id="map-reports" src="https://www.geosheets.com/map/s:DJj8Kv6R/reports/embed" class="map"></iframe>
  <span class="switcher switcher-1 no-select">
    <input type="checkbox" id="switcher-1" class="no-select" checked>
    <label for="switcher-1" class="no-select"></label>
  </span>
  <div id="legend">
    <div id="red-square"></div>
    <p id="red-text">&nbsp;&nbsp;Unresolved</p>
    <br>
    <div id="blue-square"></div>
    <p id="blue-text">&nbsp;&nbsp;Resolved</p>
  </div>
  <span id="legend-main">
    <div class="inline-block">&nbsp;&nbsp;Old&nbsp;</div>
    <div id="legend-gradient"></div>
    <div class="inline-block">&nbsp;Recent</div>
  </span>
</div>
<div id="cleanups">
  <div class="heading-two">
    <h3 class="heading-title">Month Filter</h3>
  </div>
 <div class="content">
    {{ checkboxes }}
  </div>
</div> 
<div id="reports">
  <div class="heading-two">
    <h3 class="heading-title" id="replaceable">Report Trash</h3>
  </div>
  <div class="content">
    <form action="/report" class="form-inline" id="report" method="POST">
      <div class="form-group">
        {{ location_question }}
      </div>
      <div class="form-group">
        <label for="trash">Amount of Trash:</label>
        <select class="form-control" id="trash" name="trash">
          <option>A small amount of trash</option>
          <option>A moderate amount of trash</option>
          <option>A large amount of trash</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comment">Description:</label>
        <input type="text" class="form-control" id="comment" maxlength="1000" name="comment" required>
      </div>
      <button type="submit" class="btn btn-default" {{ submit }}>Submit</button>
      <input type="hidden" name="embed" value="false">
    </form>
    {{ report_limit }}
    
<!--     <form action="/resolve" class="form-inline" id="resolve" method="POST">
      <div class="form-group">
        <label for="resolve-name">Name:</label>
        <input type="text" class="form-control" id="resolve-name" maxlength="120" name="resolve-name" required>
      </div>
      <div class="form-group">
        <label for="trash">Which location did you clean up?:</label>
        <select class="form-control" id="resolve-location" name="resolve-location">
          {{ resolve_locations }}
        </select>
      </div>
      <div class="form-group">
        <label for="resolve-date">Date:</label>
        <input type="date" id="resolve-date" name="resolve-date" required>
      </div>
      <div class="form-group">
        <label for="resolve-notes">Notes:</label>
        <input type="text" class="form-control" id="resolve-notes" maxlength="1000" name="resolve-notes" required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <input type="hidden" name="embed" value="false">
    </form> -->
    <button type="button" class="btn btn-warning" id="report-switch">Resolve a Location</button>
<!--     <button type="button" class="btn btn-warning" id="resolve-switch">Report Trash</button> -->
  </div>
</div>
<footer>
  <p id="credit">Data is sourced from Santa Barbara Channelkeeper's Watershed Brigade. Join the effort to see your data being added!</p>
</footer>
{% endblock %}
