{% extends "layout.html" %}

{% block title %}
Rankings
{% endblock %}

{% block content %}
<table id="top">
  <tr>
    <td id="second">
      <div class="plate">
        <img src="/static/images/silver.png" alt="silver" id="silver">
        <p class="ranking">{{ second }}<br><b>{{ second_score }}</b></p>
      </div>
    </td>
    <td id="first">
      <div class="plate">
        <img src="/static/images/gold.png" alt="gold" id="gold">
        <p class="ranking">{{ first }}<br><b>{{ first_score }}</b></p>
      </div>
    </td>
    <td id="third">
      <div class="plate">
        <img src="/static/images/bronze.png" alt="bronze" id="bronze">
        <p class="ranking">{{ third }}<br><b>{{ third_score }}</b></p>
      </div>
    </td>
  </tr>
</table>
<div id="bottom_spacer">
  <table id="bottom">
    <tr id="first-row">
      <td>
      </td>
    </tr>
    {{ rankings_bottom }}
  </table>
  <div id="spacer"></div>
</div>
{% endblock %}
