<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Watershed Cleanup - Statistics</title>
  </head>
  <body class="embed">
    <div id="blue-bg">
      <table id="chart">
        <caption id="caption">WATERSHED BRIGADE CUMALATIVE CLEAN-UP CHART {{ year }}</caption>
        <tr id="heading_gradient">
          <th id="month_heading" class="chart_headings">MONTH</th>
          <th class="chart_headings"># OF SITES CLEANED</th>
          <th class="chart_headings"># OF VOLUNTEERS</th>
          <th class="chart_headings">TOTAL LBS OF TRASH</th>
        </tr>
        {{ table }}
      </table>
    </div>
  </body>
</html>
