{% extends "layout.html" %}

{% block title %}
Statistics
{% endblock %}

{% block content %}
<table id="top">
  <tr>
    <td id="second">
      <img src="/static/images/silver.png" alt="silver" id="silver">
      <div class="plate">
        <p class="ranking"></p>
        <p class="ranking"></p>
      </div>
    </td>
    <td id="first">
      <img src="/static/images/gold.png" alt="gold" id="gold">
      <div class="plate">
        <p class="ranking"></p>
        <p class="ranking"></p>
      </div>
    </td>
    <td id="third">
      <img src="/static/images/bronze.png" alt="bronze" id="bronze">
      <div class="plate">
        <p class="ranking"></p>
        <p class="ranking"></p>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
