{% extends "layout.html" %}

{% block script %}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	height: 500,
	animationEnabled: true,
	zoomEnabled: true,
	title:{
		text: "Weight of Trash Cleaned Up vs. Total Hours Spent",
		fontSize: 30
	},
	axisX: {
		title:"Time (hrs)",
		titleFontSize: 20,
		labelFontSize: 16,
		minimum: 0
	},
	axisY:{
		title: "Weight of Trash (lbs)",
		titleFontSize: 20,
		labelFontSize: 16
		<!--valueFormatString: "$#,##0k" -->
	},
	data: [{
		type: "scatter",
		indexLabelFontSize: 16,
		toolTipContent: "<b>Time: </b>{x} hrs<br/><b>Weight: </b>{y} lbs",
		dataPoints: [
			{{ chart_data }}
		]
	}]
});
chart.render();
calculateTrendLine(chart);
    function calculateTrendLine(chart){
        var a, b, c, d, e, slope, yIntercept;
        var xSum = 0, ySum = 0, xySum = 0, xSquare = 0, dpsLength = chart.data[0].dataPoints.length;
        for(var i = 0; i < dpsLength; i++)
            xySum += (chart.data[0].dataPoints[i].x * chart.data[0].dataPoints[i].y)
        a = xySum * dpsLength;

        for(var i = 0; i < dpsLength; i++){
            xSum += chart.data[0].dataPoints[i].x;
            ySum += chart.data[0].dataPoints[i].y;
        }
        b = xSum * ySum;

        for(var i = 0; i < dpsLength; i++)
            xSquare += Math.pow(chart.data[0].dataPoints[i].x, 2);
        c = dpsLength * xSquare;

        d = Math.pow(xSum, 2);
        slope = (a-b)/(c-d);
        e = slope * xSum;
        yIntercept = (ySum - e) / dpsLength;

        var startPoint = getTrendLinePoint(chart.data[0].dataPoints[0].x, slope, yIntercept);
        var endPoint = getTrendLinePoint(chart.data[0].dataPoints[dpsLength-1].x, slope, yIntercept);

        chart.addTo("data",{
            type: "line", //Line series showing trend
            markerSize: 0,
            dataPoints: [startPoint, endPoint]
        });
    }

    function getTrendLinePoint(x, slope, intercept){
        return {x: x, y: ((slope * x) + intercept)};
    }
}
</script>
{% endblock %}

{% block title %}
Statistics
{% endblock %}

{% block content %}
<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <div id="blue-bg">
          <table id="chart">
            <caption id="caption">WATERSHED BRIGADE CUMALATIVE CLEAN-UP CHART 2021</caption>
            <tr id="heading_gradient">
              <th id="month_heading" class="chart_headings">MONTH</th>
              <th class="chart_headings"># OF SITES CLEANED</th>
              <th class="chart_headings"># OF VOLUNTEERS</th>
              <th class="chart_headings">TOTAL LBS OF TRASH</th>
            </tr>
            {{ table }}
          </table>
        </div>
      </div>

      <div class="item">
        <img src="chicago.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}
