{% extends "layout.html" %}

{% block title %}
Statistics
{% endblock %}

{% block content %}
<table id="top">
  <tr>
    <td id="second">
      <div class="plate">
        <img src="/static/images/silver.png" alt="silver" id="silver">
        <p class="ranking">Name Wang<br>1140</p>
      </div>
    </td>
    <td id="first">
      <div class="plate">
        <img src="/static/images/gold.png" alt="gold" id="gold">
        <p class="ranking">Robertson Jr. Huarez-Saa<br>1140</p>
      </div>
    </td>
    <td id="third">
      <div class="plate">
        <img src="/static/images/bronze.png" alt="bronze" id="bronze">
        <p class="ranking">Ji Yo<br>1140</p>
      </div>
    </td>
  </tr>
</table>
<table id="bottom">
  <tr id="first-row">
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <div class="rankings-bottom">
        <div class="name">
          <p>4. Jennings Bryan</p>
        </div>
        <div class="points">
          <p>2050</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="rankings-bottom">
        <div class="name">
          <p>4. Jennings Bryan</p>
        </div>
        <div class="points">
          <p>2050</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="rankings-bottom">
        <div class="name">
          <p>4. Jennings Bryan</p>
        </div>
        <div class="points">
          <p>2050</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="rankings-bottom">
        <div class="name">
          <p>4. Jennings Bryan</p>
        </div>
        <div class="points">
          <p>2050</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="rankings-bottom">
        <div class="name">
          <p>4. Jennings Bryan</p>
        </div>
        <div class="points">
          <p>2050</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="rankings-bottom">
        <div class="name">
          <p>4. Jennings Bryan</p>
        </div>
        <div class="points">
          <p>2050</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="rankings-bottom">
        <div class="name">
          <p>4. Jennings Bryan</p>
        </div>
        <div class="points">
          <p>2050</p>
        </div>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
